.badge__one{
    /* box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75); */
    height: 500px;
    width: 900px;
    display: flex;
    animation-name: fadeIn;
    animation-duration: 1s;
}
.one_title{
    width: 900px;
    height: 100px;
    margin: 0px;
    color: rgb(255, 145, 0);
    position: absolute; left: 225px; top: 49px;
}

h4{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 30px;
    font-weight: 900;
    float: left;
    margin: 20px;
}
.one_text{
    text-align: justify;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 17px;
    font-weight: 900;
    padding-right: 20px;
    animation-name: zoomIn;
    animation-duration: 3s;
    position: absolute; left: 595px; top: 149px; right: 300px ;


}
.badge__One-img{
    width: 400px;
    animation-name: fadeIn, zoomInDown;
    animation-duration: 3s;
    position: absolute; left: 195px; top: 149px; right: 300px ;

}

.next_two{
    position: absolute; left: 1100px; top: 320px;
  }
  .next_two:hover{
    position: absolute; left: 1101px; top: 321px;
  }
  .previous_one{
    position: absolute; left: 140px; top: 320px;
  }
  .previous_one:hover{
    position: absolute; left: 141px; top: 321px;
  }

  .badge__one-btn-menu{
    background-color: rgba(206, 198, 198, 0.753);
    position: absolute; left: 450px; top: 490px;
    bottom: 0;
    width: 22%;
    height: 40px;
    color: rgb(10, 10, 10);    
    margin: 15px;  
    border-radius: 10px;

}
